:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 48, 56);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: var(--primary-color);
}

.container {
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
}

button {
    padding: 10px;
    font-size: 2em;
    background-color: var(--primary-color);
    color: white;
}

button:hover {
    background-color: var(--primary-color-darker);
    color: #ccc;
}

h1 {
    font-size: 3em;
}

p {
    margin: 50px 0;
}

h1, p {
    text-align: center;
}

.relogio {
    font-size: 3em
}

.pausado {
    color: red;
}